<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <link rel="icon" href=<%= htmlWebpackPlugin.options.favicon %>>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base href=<%= htmlWebpackPlugin.options.baseUrl %>>
</head>

<body>
    <div id='app'></div>
</body>

</html>